rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users {
      allow read, create: if request.auth != null
      
      match /{userId}/{document=**} {
      	allow read: if request.auth != null
        allow write, delete: if request.auth.uid == userId;
        
        match /claims {
        	allow read: if request.auth.uid == resource.data.app_user_id
        }
        
        match /achievements {
        	allow read: if request.auth != null
          allow write, delete: if request.auth.uid == userId

          match /{achievementId} {
            allow read: if request.auth != null
            allow write, delete: if request.auth != null && request.auth.uid == userId;
          }
        }
        
        match /stats {
        	allow read: if request.auth != null
          allow write, delete: if request.auth.uid == userId
        }
        
        match /meta {
        	allow read: if request.auth != null
          allow write, delete: if request.auth.uid == userId
        }
      }
    }
    match /iterations {
      allow read, create: if request.auth != null
      
      match /{userId} {
      	allow read: if request.auth != null
        
        match /{document=**} {
          allow read: if request.auth != null
          allow write: if request.auth.uid == userId
        }
        
        match /iterations {
        	match /{document=**} {
          	allow read: if request.auth != null
          }
          
          match /sessions/{document=**} {
            allow read: if request.auth != null
          }
        }
      }
    }
    match /teams {
      allow read, create: if request.auth != null
        
      match /{document=**} {
        allow read, write, update, create: if request.auth != null
        // allow write, update: if request.auth.uid == resource.data.owner_id
      }
    }
    match /teammates {
      allow read, create: if request.auth != null
      
      match /{userId} {
      	allow read: if request.auth != null
        
        match /{document=**} {
          allow read, write: if request.auth != null
        }
        
        match /teammates {
        	match /{document=**} {
          	allow read: if request.auth != null
          }
        }
      }
    }
    match /invites {
      allow read, create: if request.auth != null
      
      match /{userId} {
      	allow read: if request.auth != null
        
        match /{document=**} {
          allow read, write: if request.auth != null
        }
        
        match /invites {
        	match /{document=**} {
          	allow read: if request.auth != null
          }
        }
      }
    }
    match /merch/{document=**} {
    	allow read: if request.auth != null;
    }
    match /trainingPrograms/{document=**} {
    	allow read: if request.auth != null;
    }
    match /learn_to_play/{document=**} {
    	allow read: if request.auth != null;
    }
    match /learn_videos/{document=**} {
    	allow read: if request.auth != null;
    }
  }
}